@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4caf50;
  --primary-foreground: #333333;
  --secondary: #ffffff;
  --tertiary: #008134;
}

/* dark mode example */

/* @media (prefers-color-scheme: dark) {
  :root {
    --example: 240 5% 64.9%;
  }
} */
